{
	"useTabs": false,
	"tabWidth": 2,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 140,
	"semi": true,
	"arrowParens": "always",
	"bracketSpacing": true,
	"endOfLine": "lf",
	"jsxSingleQuote": true,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
	  {
		"files": "*.svelte",
		"options": {
		  "parser": "svelte"
		}
	  }
	]
  }